PORT=3000
EMAIL_PASS=hnwc vnqe lzwf rlyz
PRIVATE_KEY=l_o23ñ12Mdgd
PRIVATE_KEY_MAIL = Qaflwr@%Prwe
MONGO_URL = mongodb+srv://prueba:Prueba123W@cluster0.xm9usez.mongodb.net/test?retryWrites=true&w=majority
#CLIENT_URL=http://localhost:5173
CLIENT_URL=186.154.204.141:20128
EMAIL_USER=programadorcorredor@gmail.com
EMAIL_PASS=aotv nafh zdwz ihfz

